body section {
    margin-bottom: 30px;
    padding: 30px 10px;

}

body small {
    color: rgb(76, 101, 146);
    font-size: 12px;
}

body .collm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

body a {
    text-decoration: none;
    font-weight: 500;
}

.form-control {
    box-shadow: none;
    outline: none;
    /* border: none; */
}

.form-control:focus {
    box-shadow: none;
    outline: none;
}

body .head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;


    h2 {
        text-align: center;
        color: rgb(78, 77, 77);

        span {

            font-weight: 600;
            color: rgb(0, 0, 0);
        }
    }

    p {
        text-align: center;
        font-size: 18px;
    }
}

body {
    
    color: #000000;

    p {
        color: gray;
    }
}

body {
    .navbar {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 100;
    }


    #navbarSupportedContent {
        li {
            a {
                font-size: 1.1rem;
                font-weight: 400;
                color: black;
            }
        }
    }

    .homepage {

        background: url(https://assets-v2.scaler.com/assets/academy/svg/banner-background-34136d3a9ddff172e6bae6e3d8283c452231dcda2196b055bfa2e34e222754b7.svg);
        background-repeat: no-repeat;

        .hh {
            font-size: 2.5rem;
            padding: 2px 4px;
        }


        small {
            font-size: 11px;
        }
    }

}

.topp {
    position: relative;
    padding-bottom: 18rem;

}

.hmp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: -17rem;
    left: 17%;
    background-color: white;
    border-radius: 10px;



}

.hmimg {
    height: 40px;
}

.gridsv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 15px;

    .c1 {
        background-color: #0f8cff;
    }

    .c2 {
        background-color: #ea576f;
    }

    .c3 {
        background-color: #5cdb57;
    }

    .c4 {
        background-color: #4c96e5;
    }

    .c5 {
        background-color: #fca733;
    }

    .c6 {
        background-color: #a768d7;
    }

    .cds {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border: none;
        border-radius: 10px;
        padding: 2rem 1rem;
        position: relative;
        overflow: hidden;


        .des {
            width: 250px;
            color: white;
            text-align: center;
            margin-bottom: 20px;
        }

        .des1::after {
            background-color: #fec601;
        }

        .des2::after {
            background-color: #9243ce;
        }

        .des3::after {
            background-color: #2d9aff;
        }

        .des4::after {
            background-color: #fec601;
        }

        .des5::after {
            background-color: #0f8cff;
        }

        .des6::after {
            background-color: #fc9100;
        }

        .des1::after,
        .des2::after,
        .des3::after,
        .des4::after,
        .des5::after,
        .des6::after {
            content: "";
            height: 200px;
            width: 50px;
            position: absolute;
            z-index: 3;
            transform: rotate(-45deg);
            top: -53px;
            right: -10px;

        }


    }



}

.flp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.flps {
    padding: 0 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 13px;

    .fp {
        img {
            height: 60px;
        }

        border: 2px solid gray;
        border-radius: 10px;
        padding: 5px 10px;

        p {
            width: 390px;
            text-align: center;
        }
    }
}

.vse {
    background-color: #e8f2fe;
    padding: 30px;

    .curr {
        .cvv {
            .cvc {
                border: none;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 20px;

                h2 {
                    font-weight: 400;
                }

                .cir {

                    input {
                        transform: scale(3);
                    }
                }

            }
        }

        .main_modules {
            background-color: #cae0fe;

            .mbox1 {

                .m1 {
                    padding: 20px 15px;
                    background-color: white;
                }

                .mh {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }

            .mbox2 {
                .box2 {
                    background-color: #0d6efd;

                    .crlist {
                        li {
                            margin-left: 55px;
                        }
                    }

                    .last {
                        padding-top: 100px;
                    }
                }
            }
        }
    }

}

.talk_to {
    background: linear-gradient(135deg, #011028, #0157ae);

}

.mcard {
    border-radius: 8px;
    box-shadow: 0px 0px 8px 1px rgba(187, 187, 187, 0.422);

}

.mcard:hover {
    transition: all ease-in-out 0.3s;
    transform: scale(1.09);
}

.sem:hover {
    box-shadow: 0px 0px 15px 1px rgba(255, 0, 0, 0.422);
    font-weight: bold;
}

.mainc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
}

.scr {
    overflow: hidden;
    overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    width: 75vw;

    .scfside {
        align-items: start;
        height: 40px;
    }

    .des {
        text-align: start;
        width: 300px;
    }
}

.slick-prev, .slick-next {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: #3584b9;
    color: #fff;
    width: 30px;
    height: 80px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}
.slick-prev {
    left: -60px; 
}
.slick-next {
    right: -40px; 
}
.slick-prev:hover, .slick-next:hover {
    background: #2980b9;
}
.your-class {
    position: relative;
}
.Scalermentor{
    background: rgb(15, 140, 255);
}
.scimgbg{
    border: none;
    background-color: rgb(86, 174, 255);
    padding: 25px;
    border-radius: 50%;
}
.scbtn{
    font-size: 1.1rem ;
}

.aspera{
    background: #e7f3ff;
}
.boxrr{
    overflow: hidden;
    border-radius: 20px;
}
.brdimg{
    border: 1rem solid #57aeff;
}
.cardes{
        width: 210px;
}
.shwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.confused{
    background: #e7f3ff;
}
.cldes{
    width: 200px;
}

.clb1{
    background: url(https://assets-v2.scaler.com/assets/academy/svg/carousel-1-f8b2a8715c72d8a7ee95dee86294c20875ab6961b6c5d51c4e4b1ef7ba1f6ce5.svg.gz);
   
}
.clb2{
    background: url(https://assets-v2.scaler.com/assets/academy/svg/carousel-2-9564cde8d38ebab1459025fdef2ce4ab5234c0eb513f8adcb2f1372239658666.svg.gz);

}
.clb3{
    background: url(https://assets-v2.scaler.com/assets/academy/svg/carousel-3-2e0b3720f1392a3e14891c535812590f2fbbd783345b01fafd9b31e490478a81.svg.gz);
}
.clb4{
    background: url(https://assets-v2.scaler.com/assets/academy/svg/carousel-4-00d16bc0a8527953681077555f504bd54ca8cc03896d1272ad62ffc77d116eb8.svg.gz);
}
.clb1,.clb2,.clb3,.clb4{
    background-repeat: no-repeat;
    background-size:cover ;
}

.sshwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}